.ant-picker {
  /* margin-left: 0px;
  margin-right: 0px;
  height: 42px; */

  width: 100%;
  height: 41px;
  border: 1px solid #191929;
  background-color: #191929;
  border-radius: 9px;
  cursor: pointer;
  color: white;
  transition: 0ms;
}
.ant-picker:hover {
  border: 1px solid white;
  transition: 0ms;
}
.ant-picker-input input {
  color: white;
}
.ant-picker-input input::placeholder {
  color: white;
}
.ant-input-suffix {
  margin-right: 100px;
}
.ant-picker-dropdown {
  background-color: #191929;
  color: "white";
}
.ant-picker-panel-container {
  background-color: #191929;
}
.ant-picker-time-panel-cell-inner {
  /* border-right: 0.5px solid #a6a6a6;
  border-left: 0.5px solid #a6a6a6; */
}
.ant-picker-time-panel-column:not(:first-child) {
  border-left: 0.5px solid #595959;
}
.ant-picker-panel .ant-picker-footer {
  border-top: 0.5px solid #595959;
}
.ant-picker-footer {
  /* border: none; */
}

.ant-picker-time-panel-column
  > li.ant-picker-time-panel-cell
  .ant-picker-time-panel-cell-inner {
  color: white;
}
.ant-picker-time-panel-column
  > li.ant-picker-time-panel-cell
  .ant-picker-time-panel-cell-inner:hover {
  color: black;
}
.ant-picker-time-panel-column
  > li.ant-picker-time-panel-cell
  .ant-picker-time-panel-cell-inner:active {
  color: black;
}
.ant-picker-time-panel-column
  > li.ant-picker-time-panel-cell-selected
  .ant-picker-time-panel-cell-inner {
  color: black;
}
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  top: 100px;
}
::-webkit-scrollbar:hover {
  cursor: pointer;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(149, 149, 149);
  border-radius: 40px;
}
::-webkit-scrollbar-thumb:hover {
  background: #c5cde3;
}
.ant-picker-dropdown {
  /* position: sticky; */
}
.ant-picker-panel {
}
.ant-picker-panel-content {
}
